.home_page .moving {
  width:100%;
  height:0;
  padding-bottom:100%;
  position:relative;
}

#home_page {
  text-align: center;
  background-color: #daaf1d;
}

#home_page h1 {
  -webkit-text-stroke: 2px black;
  font-size:58px;
  font-family: 'Reggae One', cursive;
  color: black;
  box-shadow: 3px;
}

.btn-links a {
  text-decoration: none;
  font-size:32px;
  color: black;
  font-family: 'Amatic SC', cursive;
  &:hover {
   color: white;
  }
}

.btn-links .btn-outline-dark {
  //border: transparent;
  border-radius: 20px;
  background-color: #f7d567;
  &:hover {
    background-color: black;
  }
}

.btn-links {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #daaf1d;
  }
