<div class="footer d-flex justify-content-center align-items-center">
  <div class="footer-copyright">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fas fa-envelope-square"></i>
   <p><i class="fas fa-heart"></i> BikeN</p>
  </div>
</div>
