<div class="footer">
  <div class="footer-copyright">
   <p> We use cookies to ensure that we give you the best experience on our website. Click here for more information.<i class="fas fa-heart"></i> BikeN</p>
  </div>
</div>
