<style>
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
</style>

<div id="home_page">
  <h1>BikeN</h1>

  <div class="moving">
    <img src="https://media.giphy.com/media/3o6ZtekN7LuGnulfAQ/giphy.gif">
  </div>
  <p><%= link_to "START", bikes_path %></p>
</div>


