<div class="container">
<h3><center>Bikes available</center></h3>
  <div class="cards">
    <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do   %>
	  <div class="card-bike-each">
		<strong><%= bike.name %></strong>
		<%= image_tag 'bike1.jpg', class: "bike-card-image" %>
		<div class="bike-price-info">
		  <h2>99.99 SEK</h2>
		</div>
	  </div>
	  <% end %>
	<% end %>
  </div>
</div>


