<div class="container">
<h3><center>Bikes available</center></h3>
  <div class="cards">
    <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do   %>
	  <div class="card-bike-each">
		<strong><%= bike.name %></strong>
		<%= cl_image_tag bike.photo.key, class: "bike-card-image" %>
		<div class="bike-price-info">
		  <h2 style="text-align:right;" id="bike-price"><%= bike.price %></h2>
		</div>
	  </div>
	  <% end %>
	<% end %>
  </div>
</div>


