html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100px;
 background-color: white;
 font-size: 22px;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright :hover {
  color: lightgray;
}
