.simple_form {
  .form-group {
      padding-bottom: 1.5rem;
    #bike_photo {
      border: 2px solid #D1D1D1;
    }
  }
}

.search-bar {
	display: flex;
}

#form-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 16px;
}

#form-photo {
  object-fit: cover;
  height: 240px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 4px;
  margin-bottom: 24px;
}
