
.card-trip {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 400px;
  width: auto;
  object-fit: cover;
}

.card-trip .bike {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: -150px;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  position: relative;
  top: -150px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 15px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 460px;
  top: 326px;
  width: 50px;
}

.card-trip-infos .card-trip-pricing {
  position: absolute;
  left: 20px;
  top: 350px;
}

